
@{
    ViewBag.Title = "Şifremi Unuttum";
}

<div class="col-md-9 col-md-push-3">
    <div class="page-header text-center">
        <h1>Üye Girişi</h1>
        <p>Hesabınıza giriş yapın</p>
    </div><!-- End .page-header -->

    @using (Ajax.BeginForm("_LostPassword", "UserManagement", new AjaxOptions()
    {
        HttpMethod = "POST",
        LoadingElementId = "progress",
        OnSuccess = "LostPasswordFormResult(data, status, xhr)"
    }, new { @class = "signup-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label>E-posta Adresi*</label>
            <input type="email" class="form-control" required name="EMAIL">
        </div><!-- End .form-group -->

        <div class="clearfix form-action">
            <input type="submit" class="btn btn-accent pull-right min-width" value="MAİL GÖNDER">
        </div><!-- End .form-action -->
    }
</div><!-- End .col-md-9 -->
