
@{
    ViewBag.Title = "Hakkımızda";
}

<div class="col-md-9 col-md-push-3">
    <div class="page-header text-center">
        <h1>Hakkımızda</h1>
        <p>Hakkımızda daha fazla bilgi edinin</p>
    </div><!-- End .page-header -->

    <p class="lead">
        Satışımız toptan olup esasen satıcı olan kişilere ürün gönderimi yapıyorz.<br />
        Fiyatlarımız buna göre ayarlanmış olup az adetlerde alımlarda fiyatlarımız değişmektedir.<br />
        <br />Siz değerli müşterilerimiz çalışmakta olduğumuz ve yıllardır süren yüksek tecrübemiz ile sizlere hizmet etmekten gurur duyuyoruz.Sizlere hizmet konusunda sınırsız bir şekilde avantajlar sağlicağımızdan emin olabilirsiniz.
        <br /><br />Sizler verdiğiniz siparişleriniz de güvenilir ve kaliteli hizmet almak istiyorsanız eğer gerçekten de doğru yerdesiniz.Bizler bu zamana kadar parlak geçmişimizle müşterilerimizin daima güvenini kazandık.Bizler burada hedef olarak kendimize kalitemiz ile reklam yapmak.Şuan da yaptığımız işlerde en düşük fiyat ve kendi ithalatımızla birlikte sizlere kaliteli bir hizmet vermek istiyoruz.
        <br /><br />Güven konusunda hiçbir sıkıntı yaşamiyacaksınız.Ticaret konusunda ne gerekirse elimizden geleni yaparız.Örneğin sizler verdiğiniz siparişlerde bir eksiklik yaşarsanız direk olarak bizlere söylebilir konu ile ilgili yardımcı olmaya çalışırız.
        <br /><br />Bizler Eminönü/Tahtakale ve istoç şubemiz ile birlikte sizlerin ayağına kadar (ambar ve kargo)hizmet sağlamaktayız.Yani sizler bizlere gönderdiğiniz mail yada telefon ile söylediğiniz siparişleriniz de sizler ister kargo ile isterseniz de ambar sistemi ile ayağınıza kadar hizmet sunmaktayız.Ambar sisteminde de anlaşmalı olarak gönderiyoruz.Şu an da kargo olarak da Aras Kargo ile çalışmaktayız ve kargo anlaşmamız olmamakla birlikte pazarlık yaparak devam gönderim yaptığımız için desi fiyatı uygun olarak gönderebilmekteyiz.Ambar ve kargo alıcıya aittir.
        <br /><br />Her zaman ürünlerimizin arkasında durmaktayız.Sizler toptan oyuncak,toptan ışıklı ürünler,toptan hırdavat,toptan kırtasiye, toptan sticker, toptan ahşap eğitici ürünler ,toptan balon çeşitleri,toptan top çeşitleri vb. bunun gibi bir çok ürünü bizlerde bulabilirsiniz..Hiç çekinmeden ürün hakkında bilgi mesaii saatleri içerisinde alabilirsiniz.Sizlerle müşteri temsilcimiz her daima ilgilenicektir.Nur Ticaret olarak 1980’den itibaren hizmet vererek gerçekten de harika bir ticaret ailesi oluşturduk.
        <br /><br />Müşterilerimizin bizi zaten tercih etmelerinde ki en büyük neden de samimiyet ve de dürüstlüğümüzden kaynaklanıyor.Onların da bizlere göstermiş oldukları anlayışlarından dolayı teşekkür ederiz.Bizde ki de en büyük anlayış her zaman müşteri haklıdır olucaktır.Ego tatmini için olmamakla birlikte verdiğimiz çabanın karşılığı olarak karşılıklı anlayış çerçevesinde çalışmaktayız.Firmamız her zaman hizmette öncü olmayı planlar.Siz değerli müşterilerimiz hem en ucuz fiyatlardan hem de kaliteli hizmetten yararlanmak istiyorsanız bizleri tercih ediniz.Sizleri de bekleriz,iyi günler dileriz.
        <br /><br /><br /><br />
        UZUN LAFIN KISASI LAF DEĞİL İŞ ÜRETMEYE ÇALIŞIYORUZ.
        MİNİMUM SİPARİŞ BEDELİ 250 TL OLMALIDIR.
    </p>

    <div class="mb20 mb10-xs"></div><!-- margin -->

    <div class="mb50"></div><!-- margin -->
</div><!-- End .col-md-9 -->
